/*----------Layout css----------------------------------------------------*/
/* Basic Layout -- a graphic box left bottom of screen */
#menu
{
	display:none;
}

#print
{
	display:none;
}

#maintext
{
	margin-left:35px;
	margin-top:13px;
}

#flashversion
{
	border:1px solid #000000;
	width:795px;
	height:500px;
}