<xml version="1.0">
    <feedback>
        <block name="global">
            <object name="global">
              <action name="created" type="positive"><b>$object Created:</b> $item has been created at $time.</action>
              <action name="saved" type="positive"><b>$object Saved:</b> $item has been saved at $time.</action>
              <action name="deleted" type="positive"><b>$object Deleted:</b>  $item has been deleted at $time.</action>
              <action name="acknowledged" type="positive"><b>$object Acknowledged:</b> $item has been acknowledged at $time.</action>
              <action name="error" type="negative"><b>An error has occured:</b> $item.</action>
              <action name="exception" type="negative"><b>Exception:</b> $item. Please contact your system administrator.</action>
            </object>
        </block>

        <!-- feedback overrides -->
        <block name="administration">
          <object name="PersonType">
            <action name="created" type="positive"><b>Group Created:</b> The $item has been successfully created at $time.</action>
            <action name="deleted" type="positive"><b>Group Deleted:</b> The $item has been successfully deleted at $time.</action>
          </object>
        </block>
        <block name="communication">
          <object name="Item">
            <action name="publish" type="positive">
              <b>Announcement Saved:</b> '$item' has been saved, and sent for approval.
            </action>
          </object>
        </block>
    </feedback>
</xml>

