<xml version="1.0">
  <help>
    <page name="/Default.aspx">
      <title>
        <p>
          <b>Login</b>
        </p>
      </title>
      <purpose>
        <p>Use this page to access BusiBlocks.</p>
      </purpose>
      <works/>
      <use>
        <p>
          To login, enter your <b>Username</b> and <b>Password</b> into the corresponding fields and click the <b>Login</b> button.
        </p>
        <p>
          <b>Note:</b> If you do not have a username and password please contact your IT Systems Administrator.
        </p>
      </use>
    </page>
    <page name="/User/ChangePassword.aspx">
      <purpose>
        <p>
          Use this page to enter the details of a new group.
        </p>
      </purpose>
      <works/>
      <use>
        <p>
          To enter the details of a group, from the Group Details section enter the <b>Group Name</b> and <b>Description</b> into the text fields.
        </p>
        <p>
          To add a user, from the Users section, click on the <b>Add User</b> button. A <b>Users</b> popup will display, click on the corresponding <b>Add</b> link. To remove a user from the group, select them from the <b>User</b> list and click on the <b>Remove Selected</b> button.
        </p>
      </use>
    </page>
    <page name="/User/Dashboard.aspx">
      <title>
        <p>
          <b>Home</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to view or access any new BusiBlocks items.
        </p>
      </purpose>
      <works>
        <p>
          This page displays a snapshot of the system, showing any new announcements, documents or any items that require your attention.
        </p>
      </works>
      <use>
        <p>
          To view an item, click on the corresponding hyperlink. To navigate to another part of the system, select an option from the <b>Navigation</b> bar at the top of the page.
        </p>
      </use>
    </page>
    <page name="/Admin/Default.aspx">
      <title>
        <p>
          <b>Administration Home</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to access the various administration sections available to you.
        </p>
      </purpose>
      <works>
        <p>
          Depending on your user permissions you may see different sections available to other users.
        </p>
      </works>
      <use>
        <p>
          To access an Administration section, click on the corresponding button.
        </p>
      </use>
    </page>
    <page name="/Admin/ManageLocations.aspx">
      <title>
        <p>
          <b>Manage Locations</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to manage the regions and sites in your organisation.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Region Structure</b> treeview displays the regions of your organisation in a tree structure. The <b>Sites</b> grid displays the sites of your organisation in a table. Use the <b>Region Structure</b> treeview to filter the sites displayed in the <b>Sites</b> grid.
        </p>
      </works>
      <use>
        <p>
          To browse the Region Structure use the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons to expand and collapse treeview nodes.
        </p>
        <p>
          Select a region from the Region Structure treeview to display a context menu allowing you to <b>Edit</b>, <b>Delete</b>, <b>Add Region</b> or <b>Add Site</b> to the selected region, this will also update the Sites grid to display all sites in the selected region and below.
        </p>
        <p>
          Once the grid is filtered, to add a site to the selected region click on the <b>Create Site</b> row.
        </p>
        <p>
          To filter the <b>Site</b> grid, enter a search term into the required text field. For example, to search for all sites with a name of ‘Sydney’, enter ‘Sydney’ into the <b>Site Name</b> search field and press the <b>Enter</b> key. The grid updates to display the results.
        </p>
        <p>
          To view other pages in the grid click on the <b>First</b>, <b>Previous</b>, <b>Next</b> and <b>Last</b> buttons.
        </p>
        <p>
          To show more results per page in the grid, click on the <b>Items Per Page</b> drop down list and select <b>10</b>, <b>20</b> or <b>50</b>.
        </p>
      </use>
    </page>
    <page name="/Admin/ManageSites.aspx?id">
      <title>
        <p>
          <b>Manage Site</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to add or edit the details of a site.
        </p>
      </purpose>
      <works>
      </works>
      <use>
        <p>
          Enter the details of the site into the text fields. To continue, click on the <b>Save</b> button.
        </p>
      </use>
    </page>
    <page name="/Admin/ManageRolesGroups.aspx">
      <title>
        <p>
          <b>Manage Groups</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to add or remove groups in BusiBlocks and define block access for each group.
        </p>
      </purpose>
      <works>
        <p>
          Current groups are displayed in the <b>Manage Groups</b> table and can have their access, users and details modified. Groups define a set of users. At the highest level this determines which blocks they can access, but they are also used for various other access permissions, such as Categories, throughout BusiBlocks.
        </p>
      </works>
      <use>
        <p>
          To create a group, from the <b>Manage Groups</b> table click the <b>Create Group</b> row.
        </p>
        <p>
          To modify the details of a group or users associated to a group, from the <b>Actions</b> column, click the corresponding <b>Edit</b> link.
        </p>
        <p>
          To delete a group, from the <b>Actions</b> column, click on the corresponding <b>Delete</b> link.
        </p>
        <p>
          <b>Note:</b> you must remove any users associated to a group before you can delete it.
        </p>
      </use>
    </page>
    <page name="/Admin/CreateGroup.aspx">
      <title>
        <p>
          <b>Create Group</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to enter the details of a new group.
        </p>
      </purpose>
      <works/>
      <use>
        <p>
          To enter the details of a group, from the Group Details section enter the <b>Group Name</b> and <b>Description</b> into the text fields.
        </p>
        <p>
          To add a user, from the Users section, click on the <b>Add User</b> button. A <b>Users</b> popup will display, click on the corresponding <b>Add</b> link. To remove a user from the group, select them from the <b>User</b> list and click on the <b>Remove Selected</b> button.
        </p>
      </use>
    </page>
    <page name="/Admin/EditGroup.aspx?id">
      <title>
        <p>
          <b>Edit Group</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to modify the details of a group.
        </p>
      </purpose>
      <works/>
      <use>
        <p>
          To modify the details of a group, from the Group Details section update the <b>Group Name</b> and <b>Description</b> text fields.
        </p>
        <p>
          To add a user, from the Users section, click on the <b>Add User</b> button. A Users popup will display, click on the corresponding <b>Add</b> link. To remove a user from the group, select them from the <b>User</b> list and click on the <b>Remove Selected</b> button.
        </p>
      </use>
    </page>
    <page name="/Admin/SearchUsers.aspx">
      <title>
        <p>
          <b>Manage Users</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to create, delete or modify users in BusiBlocks.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Manage Users</b> grid displays the users in your organisation in a table.
        </p>
      </works>
      <use>
        <p>
          To create a user, from the Manage Users grid click the <b>Create User</b> row.
        </p>
        <p>
          To modify the details of a user, from the <b>Actions</b> column, click the corresponding <b>Edit</b> link.
        </p>
        <p>
          To delete a user, from the <b>Actions</b> column, click on the corresponding <b>Delete</b> link.
        </p>
      </use>
    </page>
    <page name="/Admin/CreateUser.aspx">
      <title>
        <p>
          <b>Create User</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to enter the details of a new user.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Create User</b> page is divided into four steps; <b>Personal Details</b>, <b>Site Access</b>, <b>Groups</b> and <b>Create User</b>. Each step is used to populate different details for the user.
        </p>
      </works>
      <use>
        <p>
          To create a user, follow the steps below:
        </p>
        <p>
          <b><i>Personal Details</i></b>
        </p>
        <p>
          Enter the new user’s details on this page. The mandatory fields to complete are <b>Last Name</b>, <b>First Name</b>, <b>Work Email</b> and <b>New Password</b>.
        </p>
        <p>
          <b>Note:</b> To generate a random password for the new user, click on the <b>Random</b> button.
        </p>
        <p>
          To continue, click on the <b>Next</b> button.
        </p>
        <p>
          <b><i>Location Access</i></b>
        </p>
        <p>
          To add site and region access for the new user, browse through the treeview using the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons to expand and collapse treeview nodes. Select a region or site to display a context menu allowing you to <b>Add Region Access</b> or <b>Add Site Access.</b>
        </p>
        <p>
          Once you have selected an item, it is added to the Site Access table. A ‘globe’ icon indicates a region, a ‘house’ icon indicates a site and a star next to a site name indicates the user’s primary site. To modify the specific access permissions to a site click on the <b>View</b>, <b>Manager</b> and <b>Admin</b> toggle switches.
        </p>
        <p>
          To make a site primary, from the <b>Actions</b> column, click the corresponding <b>Make Primary</b> link.
        </p>
        <p>
          To delete a site/region, from the <b>Actions</b> column, click on the corresponding <b>Delete</b> link.
        </p>
        <p>
          To continue, click on the <b>Next</b> button.
        </p>
        <p>
          <b><i>Groups</i></b>
        </p>
        <p>
          To indicate which group or groups the new user belongs to, from the Groups table, select the corresponding <b>Assigned To</b> checkboxes.
        </p>
        <p>
          To continue, click on the <b>Next</b> button.
        </p>
        <p>
          <b><i>Create User</i></b>
        </p>
        <p>Use this page to confirm the details for the new user.</p>
        <p>
          To continue, click on the <b>Create</b> button.
        </p>
      </use>
    </page>
    <page name="/Admin/EditUser.aspx?id">
      <title>
        <p>
          <b>Edit User</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to edit the details of an existing user.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Edit User</b> page is divided into four steps; <b>Personal Details</b>, <b>Site Access</b>, <b>Groups</b> and <b>Create User</b>. Each step is used to populate different details for the user.
        </p>
      </works>
      <use>
        <p>
          To edit a user, modify the tabs by following the instructions below:
        </p>
        <p>
          <b><i>Personal Details tab</i></b>
        </p>
        <p>
          Enter the new user’s details on this page. The mandatory fields to complete are <b>Last Name</b>, <b>First Name</b>, <b>Work Email</b> and <b>New Password</b>.
        </p>
        <p>
          <b>Note:</b> To generate a random password for the new user, click on the <b>Random</b> button.
        </p>
        <p>
          <b><i>Location Access</i></b>
        </p>
        <p>
          To modify site and region access for the new user, Browse through the treeview using the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons to expand and collapse treeview nodes. Select a region or site to display a context menu allowing you to <b>Add Region Access</b> or <b>Add Site Access.</b>
        </p>
        <p>
          Once you have selected an item, it is added to the Location Access table. A ‘globe’ icon indicates a region, a ‘house’ icon indicates a site and a star next to a site name indicates the user’s primary site. To modify the specific access permissions to a site click on the <b>Active</b> and <b>Admin</b> toggle switches.
        </p>
        <p>
          <b>Note:</b> Active indicates if the user is an active part of the location and should receive correspondence related to the location. Admin grant the user administration powers such as creating users and categories.
        </p>
        <p>
          To make a site primary, from the <b>Actions</b> column, click the corresponding <b>Make Primary</b> link.
        </p>
        <p>
          To delete a location, from the <b>Actions</b> column, click on the corresponding <b>Delete</b> link.
        </p>
        <p>
          <b><i>Groups</i></b>
        </p>
        <p>
          To indicate which group or groups the new user belongs to, from the Groups table, select the corresponding <b>Assigned To</b> checkboxes.
        </p>
        <p>
          To continue, click on the <b>Save</b> button.
        </p>
      </use>
    </page>
    <page name="/Admin/ManageComm.aspx">
      <title>
        <p>
          <b>Manage Communications Block</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to add, remove and modify Communication Block categories.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Announcement Categories</b> treeview displays announcement categories in a tree structure. The treeview is used to modify the category structure.
        </p>
      </works>
      <use>
        <p>
          To browse the Announcement Categories treeview use the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons to expand and collapse treeview nodes.
        </p>
        <p>
          Select a category from the treeview to display a context menu, enabling the use of the <b>Edit, Delete</b> and <b>Add Category</b> functions within the selected category.
        </p>
        <p>
          To modify the details such as name and permissions of a category, click on the <b>Edit</b> button. The <b>Announcement Category Details</b> page will display.
        </p>
        <p>
          To remove a category, click on the <b>Delete</b> button. The Delete Category popup will display, click on the <b>Delete</b> button to confirm. <b>Note:</b> you can only delete categories that do not contain any items.
        </p>
        <p>
          To add a new category, click on the <b>Add Category</b> button. The Add Category popup will display. Enter the name into the <b>Category Name</b> text field and click on the <b>Save</b> button to continue.
        </p>
      </use>
    </page>
    <page name="/Communication/NewsDetails.aspx?id">
      <title>
        <p>
          <b>Announcement Category Details</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to modify the details of an announcement category.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Announcement Category Details</b> table is used to enter the basic details for the category. Controls within the <b>Access</b> tabs are used to set individual and group access permissions for the category.
        </p>
      </works>
      <use>
        <p>
          To enter details for the announcement category, complete the <b>Name</b> and <b>Description</b> text fields.
        </p>
        <p>
          To add, modify or remove access permissions for the announcement category, select either the <b>View</b> (groups and locations who can view all announcements in the category), <b>Contribute</b> (groups and locations who can view and modify only their announcements in the category) or <b>Edit</b> (groups and locations who can modify all announcements in the category) permission type tab.
        </p>
        <p>
          Once a permission type tab is selected, choose a combination of groups and sites from the <b>Select Groups</b> and <b>Select Sites</b> text fields.
        </p>
        <p>
          <b>Note:</b> To select multiple items, hold the <b>Ctrl</b> key.
        </p>
        <p>
          To add the selected items, click on the <b>Add&gt;&gt;</b> button. The groups and sites will be added to the permission list.
        </p>
        <p>
          To remove items from the list, select the item and click on the <b>Remove&lt;&lt;</b> button.
        </p>
        <p>
          To continue, click on the <b>Save</b> button.
        </p>
      </use>
    </page>
    <page name="/Admin/ManageDoco.aspx">
      <title>
        <p>
          <b>Manage Document Block</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to modify the details of a document category.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Document Category Details</b> table is used to enter the basic details for the category. Controls within the <b>Access</b> tabs are used to set individual and group access permissions for the category.
        </p>
      </works>
      <use>
        <p>
          To enter details for the announcement category, complete the <b>Name</b> and <b>Description</b> text fields.
        </p>
        <p>
          To add, modify or remove access permissions for the announcement category, select either the <b>View</b> (groups and locations who can view all announcements in the category), <b>Contribute</b> (groups and locations who can view and modify only their announcements in the category) or <b>Edit</b> (groups and locations who can modify all announcements in the category) permission type tab.
        </p>
        <p>
          Once a permission type tab is selected, choose a combination of groups and sites from the <b>Select Groups</b> and <b>Select Sites</b> text fields.
        </p>
        <p>
          <b>Note:</b> To select multiple items, hold the <b>Ctrl</b> key.
        </p>
        <p>
          To add the selected items, click on the <b>Add&gt;&gt;</b> button. The groups and sites will be added to the permission list.
        </p>
        <p>
          To remove items from the list, select the item and click on the <b>Remove&lt;&lt;</b> button.
        </p>
        <p>
          To continue, click on the <b>Save</b> button.
        </p>
      </use>
    </page>
    <page name="/Doco/DocoDetails.aspx?id">
      <title>
        <p>
          <b>Document Category Details</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to modify the details of an document category.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Document Category Details</b> table is used to enter the basic details for the category. Controls within the <b>Access</b> tabs are used to set individual and group access permissions for the category.
        </p>
      </works>
      <use>
        <p>
          To enter details for the document category, complete the <b>Name</b> and <b>Description</b> text fields.
        </p>
        <p>
          To add, modify or remove access permissions for the document category, select either the <b>View</b> (groups and locations who can view all documents in the category), <b>Contribute</b> (groups and locations who can view and modify only their documents in the category) or <b>Edit</b> (groups and locations who can modify all documents in the category) permission type tab.
        </p>
        <p>
          Once a permission type tab is selected, choose a combination of groups and sites from the <b>Select Groups</b> and <b>Select Sites</b> text fields.
        </p>
        <p>
          <b>Note:</b> To select multiple items, hold the <b>Ctrl</b> key.
        </p>
        <p>
          To add the selected items, click on the <b>Add&gt;&gt;</b> button. The groups and sites will be added to the permission list.
        </p>
        <p>
          To remove items from the list, select the item and click on the <b>Remove&lt;&lt;</b> button.
        </p>
        <p>
          To continue, click on the <b>Save</b> button.
        </p>
      </use>
    </page>
    <page name="/Communication/Default.aspx">
      <title>
        <p>
          <b>Announcements</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to view and access announcements.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Categories</b> treeview displays announcement categories in a tree structure. The <b>Your announcements to read</b> and <b>Your announcements to edit</b> grids displays announcements in tables depending on your permissions for the selected category. Use the <b>Categories</b> treeview to filter the grids.
        </p>
      </works>
      <use>
        <p>
          To browse the <b>Categories</b> treeview use the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons to expand and collapse treeview nodes.
        </p>
        <p>
          Select a category from the treeview to display a context menu, enabling the use of the <b>Create Announcement</b> function within the selected category. This will also update the announcement grids to display all announcements in the selected category and below.
        </p>
        <p>
          Once the grids are filtered, to add an announcement to the selected region from the <b>Your Announcements to Edit</b> grid, click on the <b>Create Announcement</b> row.
        </p>
        <p>
          To edit an existing announcement, from the <b>Your Announcements to Edit</b> grid, select the corresponding <b>Edit</b> link.
        </p>
        <p>
          To delete an announcement, from the <b>Your Announcements to Edit</b> grid, select the corresponding <b>Delete</b> link.
        </p>
        <p>
          To check in an announcement, from the <b>Your Announcements to Edit</b> grid, select the corresponding <b>Check In</b> link.
        </p>
        <p>
          <b>Note:</b> This function is only available if you have the announcement checked out. Administrators are able to check in all documents, regardless of which user has it checked out.
        </p>
        <p>
          To further filter the grids, enter a search term into the required text field. For example, to search for all announcements with a title including ‘Important’, enter ‘Important’ into the <b>Title</b> search field and press the <b>Enter</b> key. The grid updates to display the results.
        </p>
        <p>
          To view other pages in a grid click on the <b>First</b>, <b>Previous</b>, <b>Next</b> and <b>Last</b> buttons.
        </p>
        <p>
          To show more results per page in a grid, click on the <b>Items Per Page</b> drop down list and select <b>10</b>, <b>20</b> or <b>50</b>.
        </p>
      </use>
    </page>
    <page name="/Communication/NewsViewItem.aspx?item">
      <title>
        <p>
          <b>View Announcement</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to view an announcement.
        </p>
      </purpose>
      <works>
        <p>
          The metadata for the announcement is displayed in the bar below the announcement title. This includes information such as date, owner and acknowledgement status.
        </p>
        <p>
          The content for the announcement is displayed below the metadata bar.
        </p>
      </works>
      <use>
        <p>
          To acknowledge the announcement, select the <b>I acknowledge I have read and understood</b> checkbox. The <b>Acknowledge Announcement</b> popup displays. To continue, click on the <b>Acknowledge</b> button.
        </p>
        <p>
          To return to the Announcements home page, click on the <b>Return to Communication</b> button.
        </p>
      </use>
    </page>
    <page name="/Communication/NewsEditItem.aspx?category">
      <title>
        <p>
          <b>Create Announcement</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to enter the details for a new announcement.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Create Announcement</b> page is divided into two steps; <b>Announcement Details</b> and <b>Announcement Metadata</b>. Each step is used to populate different details for the announcement.
        </p>
      </works>
      <use>
        <p>To create an announcement, follow the steps below:</p>
        <p>
          <b>
            <i>Announcement Details</i>
          </b>
        </p>
        <p>
          To add details for the announcement, enter a name for the announcement into the <b>Announcement Title</b> field. Enter the details of the announcement into the <b>Announcement Content</b> field. To modify the basic style of the announcement, in the Announcement Content field use the <b>Style</b> drop down list and <b>Bold</b>, <b>Italics</b>, <b>Underline</b>, <b>Bullet List</b> and <b>Numbered List</b> buttons.
        </p>
        <p>
          To continue, click on the <b>Next</b> button.
        </p>
        <p>
          <b>
            <i>Announcement Metadata</i>
          </b>
        </p>
        <p>
          To add metadata to the announcement, select an owner from the <b>Owner</b> drop down list.
        </p>
        <p>
          Use the <b>Acknowledgement</b> radio buttons to indicate if acknowledgement is required or not.
        </p>
        <p>
          <b>Note:</b> Acknowledgement status will determine the traffic light state for the announcement i.e. unread announcements that have an <b>Acknowledgement Required</b> status will have a ‘red’ traffic light state. Those unread with <b>Acknowledgement Not Required</b> will have a ‘yellow’ status. All read acknowledgements will have ‘green’ status.
        </p>
        <p>
          Use the <b>Editorial Comments</b> field to include any additional information for the announcement.
        </p>
        <p>
          To change the parent category for the announcement browse the Categories treeview using the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons. Once selected, permissions for the category are displayed in the Category permissions table.
        </p>
        <p>
          To save and return to the Announcements home page, click on the <b>Create &amp; Publish</b> button (publish the announcement), the <b>Check-In</b> button (save and allow others to work on the announcement) or the <b>Hold</b> button (save the announcement, but hold it for your access only).
        </p>
        <p>
          To exit from the create announcement page without saving, click on the <b>Cancel</b> button (cancel changes and return to the Announcement Details page), the <b>Back</b> button (remember changes and return to Announcement Details page) or the <b>Delete</b> button (delete the announcement).
        </p>
      </use>
    </page>
    <page name="/Communication/NewsEditItem.aspx?item">
      <title>
        <p>
          <b>Edit Announcement</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to modify the details for an announcement.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Edit Announcement</b> page is divided into two steps; <b>Announcement Details</b> and <b>Announcement Metadata</b>. Each step is used to populate different details for the announcement.
        </p>
      </works>
      <use>
        <p>To edit an announcement, follow the steps below:</p>
        <p>
          <b>
            <i>Announcement Details</i>
          </b>
        </p>
        <p>
          To modify the details for the announcement, enter a name for the announcement into the <b>Announcement Title</b> field. Enter the details of the announcement into the <b>Announcement Content</b> field. To modify the basic style of the announcement, in the Announcement Content field use the <b>Style</b> drop down list and <b>Bold</b>, <b>Italics</b>, <b>Underline</b>, <b>Bullet List</b> and <b>Numbered List</b> buttons.
        </p>
        <p>
          To continue, click on the <b>Next</b> button.
        </p>
        <p>
          <b>
            <i>Announcement Metadata</i>
          </b>
        </p>
        <p>
          To modify the metadata for the announcement, select an owner from the <b>Owner</b> drop down list.
        </p>
        <p>
          Use the <b>Acknowledgement</b> radio buttons to indicate if acknowledgement is required or not.
        </p>
        <p>
          <b>Note:</b> Acknowledgement status will determine the traffic light state for the announcement i.e. unread announcements that have an <b>Acknowledgement Required</b> status will have a ‘red’ traffic light state. Unread announcements with <b>Acknowledgement Not Required</b> will have a ‘yellow’ status. All read acknowledgements will have ‘green’ status.
        </p>
        <p>
          Use the <b>Editorial Comments</b> field to include any additional information for the announcement.
        </p>
        <p>
          To change the parent category for the announcement browse the Categories treeview using the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons. Once selected, permissions for the category are displayed in the Category permissions table.
        </p>
        <p>
          To save and return to the Announcements home page, click on the <b>Create &amp; Publish</b> button (publish the announcement), the <b>Check-In</b> button (save and allow others to work on the announcement) or the <b>Hold</b> button (save the announcement, but hold it for your access only).
        </p>
        <p>
          To exit from the create announcement page without saving, click on the <b>Cancel</b> button (cancel changes and return to the Announcement Details page), the <b>Back</b> button (remember changes and return to Announcement Details page) or the <b>Delete</b> button (delete the announcement).
        </p>
      </use>
    </page>
    <page name="/Doco/Default.aspx">
      <title>
        <p>
          <b>Documents</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to view and access documents.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Categories</b> treeview displays document categories in a tree structure. The <b>Documents</b> grid displays the documents in a table. Use the <b>Categories</b> treeview to filter the <b>Documents</b> grid.
        </p>
      </works>
      <use>
        <p>
          To browse the Categories treeview use the <b>Expand All</b>, <b>Collapse All</b>, <b>(+)</b> and <b>(-)</b> buttons to expand and collapse treeview nodes.
        </p>
        <p>
          Select a category from the treeview to display a context menu, enabling the use of the <b>Create Document</b> function within the selected category. This will also update the Documents grid to display all documents in the selected category and below.
        </p>
        <p>
          Once the grid is filtered, to add an announcement to the selected region click on the <b>Create Document</b> row.
        </p>
        <p>
          To further filter the <b>Documents</b> grid, enter a search term into the required text field. For example, to search for all documents with a title including ‘Procedures’, enter ‘Procedures’ into the <b>Title</b> search field and press the <b>Enter</b> key. The grid updates to display the results.
        </p>
        <p>
          To view other pages in the grid click on the <b>First</b>, <b>Previous</b>, <b>Next</b> and <b>Last</b> buttons.
        </p>
        <p>
          To show more results per page in the grid, click on the <b>Items Per Page</b> drop down list and select <b>10</b>, <b>20</b> or <b>50</b>.
        </p>
      </use>
    </page>
    <page name="/Doco/NewArticle.aspx?id">
      <title>
        <p>
          <b>New Document</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to enter the details for a new document.
        </p>
      </purpose>
      <works>
        <p>
          The <b>New Document</b> page allows you to enter details for a new document, such as <b>Title</b>, <b>Description</b>, the <b>Document Type</b> and <b>Acknowledgement</b> status.
        </p>
        <p>
          The <b>Document Type</b> will determine if your document is to be created and developed online within BusiBlocks (Online Document), or an uploaded external document (Uploaded Document).
        </p>
      </works>
      <use>
        <p>
          Confirm the details of the access permissions using the <b>Category Permissions</b> table.
        </p>
        <p>
          Enter details into the <b>Title</b> and <b>Description</b> text fields. Indicate the type of document to create using the <b>Document Type</b> radio buttons. The Online and Uploaded options are discussed below:
        </p>
        <p>
          <b>
            <i>Online Document</i>
          </b>
        </p>
        <p>Online documents are created and edited online; they are also assigned version numbers as the document progresses. In addition to standard document formatting functionality you are also able to create separate chapter and a navigable table of contents.</p>
        <p>
          To create an online document, select the <b>Online</b> radio button. The <b>Numbered Chapters</b> and <b>Table of Contents</b> rows will display. Use these to indicate if they are required for the online document.
        </p>
        <p>
          <b>
            <i>Uploaded Document</i>
          </b>
        </p>
        <p>Uploaded documents are external files that are uploaded to BusiBlocks. All file types are supported, but as files are managed by the user there is no automatic versioning.</p>
        <p>
          To create an uploaded document, select the <b>Uploaded</b> radio button. The <b>Select a file</b> row will display. To browse for a file to upload, click on the <b>Choose File</b> button.
        </p>
        <p>
          Use the <b>Acknowledgement</b> radio buttons to indicate if acknowledgement is required or not.
        </p>
        <p>
          <b>Note:</b> Acknowledgement status will determine the traffic light state for the document i.e. unread documents that have an <b>Acknowledgement Required</b> status will have a ‘red’ traffic light state. Unread documents with <b>Acknowledgement Not Required</b> will have a ‘yellow’ status. All read acknowledgements will have ‘green’ status.
        </p>
        <p>
          To continue, click on the <b>Save</b> button.
        </p>
      </use>
    </page>
    <page name="/Doco/ViewArticle2.aspx?name">
      <title>
        <p>
          <b>Edit Online Document</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to enter the content for your online document.
        </p>
      </purpose>
      <works>
        <p>
          This page is divided into three main sections; <b>Metadata</b> which lists details such as owner and version, <b>Table of Contents</b> which allows you to view and modify chapters and <b>Chapter Details</b> which allows you to modify the content and formatting of a chapter.
        </p>
      </works>
      <use>
        <p>To edit your online document use the following steps for each section:</p>
        <p>
          <b>
            <i>Table of Contents</i>
          </b>
        </p>
        <p>
          To add a chapter to the Table of Contents enter a name into the Add Chapter text field and click on the <b>tick</b> button.
        </p>
        <p>To change to the order of a chapter, click and drag the required chapter using the green drag handle.</p>
        <p>
          To delete a chapter, click on the corresponding <b>(X)</b> button.
        </p>
        <p>
          <b>
            <i>Chapter Details</i>
          </b>
        </p>
        <p>
          To change the name of the selected chapter, click on the <b>Edit Chapter Name</b> button.
        </p>
        <p>
          To enter or modify content for the chapter, type the details into the text field. Use the functions from the toolbar such as the <b>Styles</b>, <b>Numbered</b> <b>List</b> and <b>Insert Image</b> to format the text.
        </p>
        <p>
          <b>
            <i>Preview/Edit Buttons</i>
          </b>
        </p>
        <p>
          To preview how the document will look when published, click on the Preview button. To return to edit mode, click on the <b>Edit</b> button.
        </p>
        <p>
          To save the document and continue editing, click on the <b>Save</b> button.
        </p>
        <p>
          To save the document and finish editing, click on the <b>Finish Editing</b> button.
        </p>
      </use>
    </page>
    <page name="/Directory/DirectorySearch.aspx">
      <title>
        <p>
          <b>Directory</b>
          </p>
      </title>
      <purpose>
        <p>
          Use this page to search for BusiBlocks users and sites to find out details about them.
        </p>
      </purpose>
      <works>
        <p>
          The <b>Directory</b> page is divided into two tabs; <b>Search Users</b> and <b>Search Sites</b>. Users and Sites grids on these tabs display all users and sites in a table.
        </p>
        <p>
          Use the grids to search filter the items listed.
        </p>
      </works>
      <use>
        <p>
          To search for sites, click on the <b>Search Sites</b> tab.
        </p>
        <p>
          To search for users, click on the <b>Search Users</b> tab.
        </p>
        <p>
          To filter the grid, enter a search term into the required text field. For example, to search for all users with a first name of ‘John’, enter ‘John’ into the <b>First Name</b> search field and press the <b>Enter</b> key. The grid updates to display the results.
        </p>
        <p>
          To view other pages in the grid click on the <b>First</b>, <b>Previous</b>, <b>Next</b> and <b>Last</b> buttons.
        </p>
        <p>
          To show more results per page in the grid, click on the <b>Items Per Page</b> drop down list and select <b>10</b>, <b>20</b> or <b>50</b>.
        </p>
        <p>
          To view detailed information about an item, click on the corresponding <b>User Name</b> or <b>Site Name</b> link.
        </p>
      </use>
    </page>
    <page name="/Directory/PersonDetails.aspx?id">
      <title>
        <p>
          <b>User Details</b>
        </p>        
      </title>
      <purpose>
        <p>
          Use this page to view details about a particular user in BusiBlocks.
        </p>
      </purpose>
      <works>
        <p>
          The details of the user are displayed in a table.
        </p>
      </works>
      <use>
        <p>View the details of the user in the user details table.</p>
        <p>
          To return to the Directory home page, click on the <b>Return to Directory</b> button.
        </p>
      </use>
    </page>
    <page name="/Directory/SiteDetails.aspx?id">
      <title>
        <p>
          <b>Site Details</b>
        </p>
      </title>
      <purpose>
        <p>
          Use this page to view details about a particular site in BusiBlocks.
        </p>
      </purpose>
      <works>
        <p>
          The page is divided into two sections; <b>Site Details</b> and <b>Site Users</b>. The details such as contact information are displayed in a table and the users attached to the site are displayed in a grid.
        </p>
      </works>
      <use>
        <p>
          View the details of the site in the <b>Site Details</b> table.
        </p>
        <p>
          View the users attached to the selected site from the <b>Site Users</b> grid.
        </p>
        <p>
          To filter the <b>Site Users</b> grid, enter a search term into the required text field. For example, to search for all users with a first name of ‘John’, enter ‘John’ into the <b>First Name</b> search field and press the <b>Enter</b> key. The grid updates to display the results.
        </p>
        <p>
          To view other pages in the grid click on the <b>First</b>, <b>Previous</b>, <b>Next</b> and <b>Last</b> buttons.
        </p>
        <p>
          To show more results per page in the grid, click on the <b>Items Per Page</b> drop down list and select <b>10</b>, <b>20</b> or <b>50</b>.
        </p>
        <p>
          To view detailed information about a user, click on the corresponding <b>User Name</b> link.
        </p>
      </use>
    </page>
  </help>
</xml>
