<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <!-- Allow only admin roles -->
    <authorization>
      <allow roles="formsblock" />
      <allow roles="core:administrator" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>
